.home-page-div {
  text-align: center;
  margin: auto;
  width: 75%;
}

.home-speech {
  text-align: center;
}

.home-page-div img {
  margin-top: 32px;
  width: 80%;
  box-shadow: 8px 8px 12px #aaa;
}

.home-buttons-div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.home-buttons-div p {
  flex: 1;
}

.home-buttons-div .home-button {
  flex: 1;
}

.home-button-panel {
  width: 75%;
  margin: 24px;
  padding: 8px;
  box-shadow: 8px 8px 12px #aaa;
}

.home-buttons-div .icon-left {
  margin-right: 16px;
}
