.bet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.teamName {
  text-align: center;
  color: white;
  font-style: bold;
}

.selectContainer {
  display: flex;
  align-items: center;
}
