.bet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.teamName {
  text-align: center;
  color: white;
  font-style: bold;
}

.selectContainer {
  display: flex;
  align-items: center;
}
